<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="bobfilez" Language="1033" Version="2.2.1" Manufacturer="bobfilez Team" UpgradeCode="82d9f31a-c555-4041-81ce-edf1d8065d73">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="bobfilez" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="bobfilez" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable" Guid="*">
                <File Id="fo_cli.exe" Source="..\build\cli\fo_cli.exe" KeyPath="yes" />
            </Component>
            <Component Id="LicenseFile" Guid="*">
                <File Id="LICENSE.txt" Source="..\LICENSE.txt" KeyPath="yes" />
            </Component>
            <Component Id="ReadmeFile" Guid="*">
                <File Id="README.md" Source="..\README.md" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
